/*
	section_banner_static: definimos position: relative debido a que uno de 
	sus elementos hijos tiene definido position: absolute, finalmente un 
	background-img para la sección
*/
.section_cultivarte_static {
	position: relative;
	background-image: url(../../../assets/img/emprende/home_bloque2_fondo.jpg);
	background-size: cover;

	/*
		_@query 767px <== : definimos un background-position a 
		_partir de esta medida
	*/
	@media (max-width: 767px) {
		background-position: 50%;
	}

	/*
		container_cultivarte_static: definimos margin: 0 auto para centrar de
		manera horizontal este elemento, finalmente generamos un espaciado
	*/
	.container_cultivarte_static {
		width: 100%;
		margin: 0 auto;
		padding: 0 15px;

		/*
			:after: hacemos uso de este pseudo elemento para crear una mascara,
			definimos position: absolute con sus propiedades top, left, right,
			bottom y z-index para que tome todo el ancho y alto de su 
			contenedor padre 
		*/
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			background: hsla(0,0%,100%,.8);
		}

		/*
			_@query 576px ==> : modificamos el max-width a partir de esta medida
		*/
		@media (min-width: 576px) {
			max-width: 540px;
		}

		/*
			_@query 768px ==> : modificamos el max-width a partir de esta medida
		*/
		@media (min-width: 768px) {
			max-width: 720px;
		}
		
		/*
			_@query 992px ==> : modificamos el max-width  y agregamos un padding
			_para generar espacio a partir de esta medida
		*/
		@media (min-width: 992px) {
			max-width: 960px;
			padding: 0 15px;
		}

		/*
			_@query 1200px ==> : modificamos el max-width a partir de esta medida
		*/
		@media (min-width: 1200px) {
			max-width: 1140px;
		}

		/*
			flexbox_cultivarte_static: definimos position: relative con
			su propiedad z-index para poner al frente del todo este 
			elemento, finalmente definimos flexbox y sus propiedades
			justify-content y align-items que junto con una altura
			definida nos permite centrar de manera vertical y horizontal
			este elemento
		*/
		.flexbox_cultivarte_static {
			position: relative;
			z-index: 2;
			display: flex;
			justify-content: center;
			height: 600px;
			align-items: center;
			
			/*
				_@query 768px ==> : definimos un alto para este elemento
				_en esta medida
			*/
			@media (min-width: 768px) {
				height: 795px;
			}

			/*
				box_cultivarte_static
			*/
			.box_cultivarte_static {
				text-align: center;
				width: 100%;
				
				/*
					_@query 992px ==> : definimos un ancho para este elemento
					_en esta medida
				*/
				@media (min-width: 992px) {
					width: 60%;
				}
				
				/*
					tag-h2
				*/
				h2 {
					color: #313338;
					font-family: '@sansation-bold', sans-serif;
					font-size: 60px;
					line-height: 1;
					margin-bottom: 30px;
				}

				/*
					tag-p
				*/
				p {
					color: #77777a;
					font-size: 16px;
					font-family: '@sansation-bold', sans-serif;
					font-weight: 500;
					line-height: 26px;
				}
			}
		}
	}
}
