@import './layout/layout-imports';

@import './shared/fonts';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
	body
*/
body {
	/*
		_@query 991px <== : para esta medida a침adimos al body una clase
	*/
	@media (max-width: 991px) {
		/*
			.js_bg_body: clase a침adida con javascript, hacemos uso
			.del pseudo elemento :after para crear una mascara para
			.eso definimos position: absolute con sus propiedades
			.top y left y z-index para darle posici칩n, finalmente
			.definimos un ancho y alto de todo el viewport
		*/
		&.js_bg_body::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: 9;
			background: linear-gradient(0deg,rgba(17,24,32,.45) 76%,rgba(17,24,32,.4));
			width: 100%;
			height: 100vh;
		}
	}
}

/*
	ghost_container
*/
.ghost_container {

	/*
		_@query 767px <== : definimos una altura para este contenedor
		_el cual es utilizado para generar un espacio entre el 
		_banner static y el menu acorde칩n
	*/
	@media (max-width: 767px) {
		height: 40px;
	}
}