/*
	importacion de las fuentes
*/
@import '../shared/fonts';

/*
	varaibles implementadas en diferentes elementos
*/
$heightDestok: 700px;
$heightQuery767: 400px;

/*
	medidas responsive
*/
$query480: 480px;
$query575: 575px;
$query767: 767px;

/*
    seccion_name: nos sirve para implementar margenes y espaciados 
    con el fin de separar un contenedor de otros elementos en este caso 
*/
.section_article_slider {
	@media (min-width: 768px) {
		padding: 50px 0;
	}

	/*
        container_name: definimos absolute y su propeidad z-index
        para poscionar esta caja sobre la caja que contiene al slider.
        width: 100% para que recupere todo el ancho del viewport
		y un height para que el contenedor del slider no desmaquete
    */
	.container_article_slider {
		max-width: 100%;
		margin: 0 auto;

		@media (min-width: 768px) {
			max-width: 720px;
    		padding: 0 15px;
		}

		@media (min-width: 992px) {
			max-width: 960px;
		}

		@media (min-width: 1200px) {
			max-width: 1140px;
		}

		/*
        swiper: contenedor del slider a este es importante definirle la
        misma altura que la seccion para que no genere desmaquetados
    */
		.swiper {
			.swiper-wrapper {
				.swiper-slide {
					position: relative;

					@media (min-width: 768px) {
						display: flex;
						align-items: center;
					}

					.box_article {
						position: absolute;
						width: 100%;

						@media (min-width: 768px) {
							padding: 0 20px;
						}

						h3 {
							background-color: #ff671b;
							color: #fff;
							font-family: '@sansation-bold', sans-serif;
							line-height: 1;
							padding: 12px 25px;

							@media (max-width: 767px) {
								font-size: 38px;
							}

							@media (min-width: 768px) {
								display: inline-block;
								font-size: 48px;
								margin-bottom: 30px;
							}
						}

						a {
							text-decoration: none;

							@media (max-width: 767px) {
								position: absolute;
								top: 360px;
								padding: 0 15px;
							}

							.content_events {
								background-color: rgba(49, 51, 56, 0.95);
								padding: 20px;

								@media (max-width: 767px) {
									max-width: 100%;
								}

								@media (min-width: 768px) {
									max-width: 360px;
								}


								h4 {
									color: #fff;
									font-size: 16px;
									font-family: '@sansation-bold', sans-serif;
									letter-spacing: normal;
								}

								.article_paragraph {
									color: #fff;
									font-size: 14px;
									font-family: '@nunito-light', sans-serif;
									line-height: 1.5;
									margin: 5px 0;
								}

								.content_dates {
									.flexbox_dates {
										color: #fff;
										display: flex;
										justify-content: space-between;

										p {
											font-family: "@sansation-regular", sans-serif;
											font-size: 14px;
											line-height: 1.5;
										}

										.flex_paragraph {
											width: calc(100% - 70px);
										}
									}
								}
							}
						}
					}

					.box_article_img {
						@media (min-width: 768px) {
							height: 650px;
						}

						@media (max-width: 767px) {
							height: 400px;
						}

						@media (max-width: 480px) {
							height: 350px;
						}

						/*
							tag-img: es importante a esta imagen definirle un width
							y height igual al de su contenedor padre y la propiedad 
							object-fit: cover para que se ajuste al contenedor
						*/
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}

			/*
                    box_icon_swiper: implementando flexbox en este contenedor
                    podemos modificar la posicion de los iconos del slider
                */
			.box_icon_slider {
				display: flex;

				@media (max-width: 767px) {
					justify-content: center;
				}

				@media (min-width: 768px) {
					height: 0;
					padding: 0 20px;
				}

				/*
					swiper-button-next, swiper-button-prev: para 
					cambiar estas propiedades debemos definirlas en estas clases
				*/
				.swiper-button-next,
				.swiper-button-prev {
					position: relative;
					top: 0;
					left: 0;
					right: 0;
					background-color: #313338;
					padding: 25px;
					margin-top: 0;
					transition: background-color 0.3s ease-in-out;

					&:hover {
						background-color: #007bff;
					}

					@media (min-width: 768px) {
						top: -168px;
					}
				}

				.swiper-button-prev {
					margin-right: 20px;
				}

				/*
					swiper-button-next:after, swiper-button-prev:after: para 
					cambiar estas propiedades debemos definirlas en estas clases
				*/
				.swiper-button-next:after,
				.swiper-button-prev:after {
					color: #fff;
					font-size: 26px;
					font-weight: 700;
				}
			}
		}
	}
}

// .prev.swiper-button-disabled {
/* opacity: .35; */
/* cursor: auto; */
/* pointer-events: none; */
// }
