/*
	importacion de las fuentes
*/
@import '../shared/fonts';


/*
	varaibles implementadas en diferentes elementos
*/
$heightDestok: 700px;
$heightQuery767: 400px;

/*
	medidas responsive
*/
$query480: 480px;
$query575: 575px;
$query767: 767px;

/*
    seccion_name: nos sirve para implementar margenes y espaciados 
    con el fin de separar un contenedor de otros elementos en este caso 
*/
.section_banner_slider {
	/*
        container_name: definimos absolute y su propeidad z-index
        para poscionar esta caja sobre la caja que contiene al slider.
        width: 100% para que recupere todo el ancho del viewport
		y un height para que el contenedor del slider no desmaquete
    */
	.container_banner_slider {
		/* 
            flexbox_banner: definimos flexbox y su propiedad
            align-items y justify-content mas un height para centrar la caja 
			box_name horizontal y verticalmente a su padre
        */
		.flexbox_banner_slider {
			/*
				swiper: contenedor del slider a este es importante definirle la
				misma altura que la seccion para que no genere desmaquetados
			*/
			.swiper {
				.swiper-wrapper {
					.swiper-slide {
						position: relative;
						display: flex;
						justify-content: center;
						height: $heightDestok;

						@media (max-width: $query767) {
							height: $heightQuery767;
						}
						
						/*
							box_name: esta caja se encarga de manejar el width por lo que
							es muy importante para el responsive
						*/
						.box_banner_slider {
							position: absolute;
							padding: 0 15px;
							
							/*
								@query 767px <== : definimos un width para esta medida
							*/
							@media (max-width: $query767) {
								max-width: 540px;
								bottom: 20px;
							}
			
							/*
								@query 767px <== : definimos un width para esta medida
							*/
							@media (max-width: $query575) {
								max-width: 100%;
							}
				
							/*
								@query 900px ==> : definimos un width para esta medida
							*/
							@media (min-width: 576px) {
								max-width: 540px;
							}
			
							/*
								@query 900px ==> : definimos un width para esta medida
							*/
							@media (min-width: 768px) {
								max-width: 720px;
								bottom: 65px;
							}
				
							/*
								@query 900px ==> : definimos un width para esta medida
							*/
							@media (min-width: 992px) {
								max-width: 960px;
							}
			
							/*
								@query 900px ==> : definimos un width para esta medida
							*/
							@media (min-width: 1200px) {
								max-width: 1140px;
							}
			
							.box_banner_title {
								background-color: #ff671b;
			
								h1 {
									color: #fff;
									font-family: "@sansation-bold", sans-serif;
									font-size: 56px;
									line-height: 1.2;
									padding: 15px 25px;
									
									@media (min-width: 1200px) {
										letter-spacing: .5px;
									}

									@media (max-width: 991px) {
										font-size: 44px;
									}
			
									@media (max-width: 767px) {
										font-size: 30px;
									}
			
									@media (max-width: 575px) {
										font-size: 25px;
										padding: 20px;
									}
								}
							}
			
							p {
								font-size: 14px;
								font-family: "@nunito-regular";
								background-color: rgba(49, 51, 56, 0.9);
								color: #fff;
								line-height: 24px;
								padding: 15px 25px;
								
								@media (min-width: 768px) {
									max-width: 480px;
								}
							}
						}

						/*
							tag-img: es importante a esta imagen definirle un width
							y height igual al de su contenedor padre y la propiedad 
							object-fit: cover para que se ajuste al contenedor
						*/
						img {
							align-self: flex-start;
							vertical-align: top;
							width: 100%;
							height: 100%;
							object-fit: cover;
							
							@media (max-width: 480px) {
								height: auto;
								object-fit: contain;
							}
						}
					}
				}
			}

			.content_icons {
				position: relative;
				margin: 0 auto;
				padding: 0 15px;

				@media (max-width: $query767) {
					display: none;
				}

				/*
					@query 900px ==> : definimos un width para esta medida
				*/
				@media (min-width: 768px) {
					max-width: 720px;
				}
	
				/*
					@query 900px ==> : definimos un width para esta medida
				*/
				@media (min-width: 992px) {
					max-width: 960px;
				}

				/*
					@query 900px ==> : definimos un width para esta medida
				*/
				@media (min-width: 1200px) {
					max-width: 1140px;
				}

				/*
					box_icon_swiper: implementando flexbox en este contenedor
					podemos modificar la posicion de los iconos del slider
				*/
				.box_icon_slider {
					position: absolute;
					bottom: 10px;
					display: flex;
					align-items: center;
					justify-content: flex-start;

					/*
						swiper-button-next, swiper-button-prev: para 
						cambiar estas propiedades debemos definirlas en estas clases
					*/
					.swiper-button-next,
					.swiper-button-prev {
						position: relative;
						top: 0;
						left: 0;
						right: 0;
						background-color: #313338;
						width: 44px;
						height: 44px;
						margin-top: 0;
						transition: .3s;

						&:hover {
							background-color: #007bff;
						}

						&.swiper-button-disabled {
							opacity: 1;
							cursor: pointer;
							pointer-events: visible;
						}
					}

					.swiper-button-prev {
						margin-right: 14px;
					}

					/*
						swiper-button-next:after, swiper-button-prev:after: para 
						cambiar estas propiedades debemos definirlas en estas clases
					*/
					.swiper-button-next:after,
					.swiper-button-prev:after {
						color: #fff;
						font-size: 22px;
						font-weight: bold;
					}
				}
			}
		}
	}
}