/*
	importacion de las fuentes
*/
@import '../shared/fonts';

/*
    section_galery: contenedor definido para implementar
    margin o padding con el fin de separar las secciones
    entre si
*/
.section_galery {
	/*
		container_name: contenedor definido para manejar
		el responsive implementando width
    */
	.container_galery {
		/*
            grid_galery: contenedor definido para
            implementar display: grid con la cual
			creaos nuestra regilla
        */
		.grid_galery {
			display: grid;

			/*
				@query 992px ==> : para esta medida definimos
				4 columnas y 2 filas
			*/
			@media (min-width: 992px) {
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: repeat(2, 437px);
			}

			/*
				@query 991px <== : para esta medida definimos
				2 columnas y 4 filas
			*/
			@media (max-width: 991px) {
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(4, 370px);
			}

			/*
				@query 767px <== : para esta medida definimos
				1 columna y 7 filas
			*/
			@media (max-width: 767px) {
				grid-template-columns: repeat(1, 1fr);
				grid-template-rows: 160px repeat(7, 300px);
			}

			/*
				@query 499px <== : para esta medida solamente
				cambiamos la altura de las filas
			*/
			@media (max-width: 499px) {
				grid-template-rows: 160px repeat(7, 180px);
			}

			/*
				title_galery: definimos flexbox y sus propiedades
				justify-content y align-items para centrar los
				elementos horizontal y verticalmente respecto a su
				padre
			*/
			.title_galery {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #2f425b;

				h3 {
					color: #fff;
					font-size: 40px;
					font-family: '@sansation-bold', sans-serif;
				}
			}

			/*
				title_galery: definimos position: relative que 
				nos permite solucionar el desmaquetado que produce
				la propiedad absolute cuando se le define a un 
				elemento hijo
			*/
			.box_galery {
				position: relative;

				/*
					content_galery: definimos absolute para sacar de 
					posicion esta caja y que la tag-img se posicione
					por debajo de esta, con las propiedades top, left
					right y bottom definimos que ocupe e ancho y alto
					total de su contenedor padre
				*/
				.content_galery {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					font-family: '@sansation-bold', sans-serif;
					color: #fff;
					background-color: rgba(0, 0, 0, 0.2);
					padding: 20px 15px;

					/*
						@query 768px ==> : definimos flexbox y sus
						propeidades flex-direction y justify-conten
						para separar los elemntos entre si
					*/
					@media (min-width: 768px) {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						background: rgba(0, 0, 0, 0.5);
						cursor: pointer;

						/*
							cuando hacemos :hover sobre content_galery
							a単adimos un bacground en gradiente
						*/
						&:hover {
							background: rgb(2, 0, 36);
							background: linear-gradient(
								0deg,
								rgba(0, 0, 0, 0.9) 20%,
								rgba(83, 25, 7, 0.8) 60%,
								rgba(0, 0, 0, 0.9) 90%
							);
						}

						/*
							cuando hacemos :hover sobre content_galery
							a単adimos opacity: 1 para que la tag-p sea 
							nuevamente visible
						*/
						&:hover p {
							opacity: 1;
							transition: opacity 1.5s ease;
						}

						/*
							cuando hacemos :hover sobre content_galery
							a単adimos opacity: 1 para que btn_link sea 
							nuevamente visible
						*/
						&:hover .btn_link {
							opacity: 1;
							transition: opacity 1.5s ease;
						}
					}

					/*
						icon_plus: contenedor del icon ver mas
					*/
					.icon_plus {
						/*
							@query 767px <== : definimos inline-flex que 
							nos permite implementar propiedades flexbox
							que junto a width y height nos permiten
							centrar el icono definido dentro de la tag-a 
							finalmente definimos position: absolute y sus
							propeiades top, right y z-index que nos permite
							posicioanr y fijar el elemento
						*/
						@media (max-width: 767px) {
							display: inline-flex;
							width: 40px;
							justify-content: center;
							height: 40px;
							align-items: center;
							position: absolute;
							top: 0;
							right: 12px;
							z-index: 5;
							background-color: #fff;

							svg {
								fill: #ff671b;
								width: 24px;
								height: 24px;
							}
						}

						/*
							@query 768px ==> : definimos display: none
							para sacar este elemento del maquetado
						*/
						@media (min-width: 768px) {
							display: none;
						}
					}

					h3 {
						font-size: 40px;
						line-height: 1;

						/*
							@query 1199px <== : cambiamos el tama単o
							de fuente para esta medida responsive
						*/
						@media (max-width: 1199px) {
							font-size: 30px;
						}
					}

					p {
						/*
							@query 767px <== : definimos display: none
							para sacar este elemento del maquetado
						*/
						@media (max-width: 767px) {
							display: none;
						}

						/*
							@query 768px ==> : definimos opacity: 0 para 
							desaparecer el texto que aparece nuevamnete 
							cuando hacemos :hover sobre content_galery
						*/
						@media (min-width: 768px) {
							opacity: 0;
							font-size: 14px;
							letter-spacing: 0.1px;
							line-height: 1.4;
						}
					}

					.btn_link {
						/*
							@query 767px <== : definimos display: none
							para sacar este elemento del maquetado
						*/
						@media (max-width: 767px) {
							display: none;
						}

						/*
							@query 768px ==> : definimos opacity: 0 para 
							desaparecer el texto que aparece nuevamnete 
							cuando hacemos :hover sobre content_galery, 
							la propiedad inline-flex nos permite implementar 
							propiedades flexbox que junto a width y height 
							nos permiten centrar el texto del btn_link 
							finalmente con align-self posicionamos el boton al 
							final de su contenedor
						*/
						@media (min-width: 768px) {
							opacity: 0;
							text-decoration: none;
							display: inline-flex;
							width: 115px;
							justify-content: center;
							height: 35px;
							align-items: center;
							align-self: flex-end;
							color: #fff;
							font-family: '@sansation-regular', sans-serif;
							font-size: 14px;
							border: 1px solid #fff;
						}
					}
				}

				/*
					tag-img: importante definirle un width y height
					100% y object-fit para que la imagen se ajuste a
					su contenedor
				*/
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}
