/*
	importacion de las fuentes
*/
@import '../shared/fonts';

/*
	variables que almacenan la altura de header
	para escritorio y dispositivos moviles
*/
// $headerHeightDestok: 100px;
// $headerHeightMovil: 80px;

/*
	section_header: generalmente a este contenedor le
	definimos margenes y espaciados para separar el contenido
	de otros contenedores como el body
*/
.section_header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	background-color: #fff;
	padding: 20px 0;

	@media (min-width: 992px) {
		padding: 30px 0;

		/*
			clase añadida con javascript que permite
			disminuir la altura a header_flexbox logrando
			asi el efecto scroll
		*/
		&.js_scroll_navbar {
			padding: 20px 0;
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
			transition: 0.3s;
		}
	}

	/*
		container_header: a este contenedor le 
		definimos el tamaño que tendra en la vista
	*/
	.container_header {
		width: 95%;
		margin: 0 auto;

		/*
			header_flexbox: este contenedor lo definimos 
			para implementar flex-box y sus propiedades cuando
			sus elementos hijo lo requeiren
		*/
		.header_flexbox {
			/*
				query 992px ==> : definimos flexbox y su propiedad
				align-items que centra el menu de navegacion en referencia
				a la altura de la imagen
			*/
			@media (min-width: 992px) {
				display: flex;
				align-items: center;
			}

			/*
				box_nit_menu: definimos flexbox y su propiedad
				justify-content y align-items para centar y separar el 
				icon burger menu en referencia a la altura de la imagen
			*/
			.box_nit_menu {
				display: flex;
				justify-content: space-between;
				align-items: center;

				a {
					img {
						/*
							query 991px <== : modificamos las diemensiones
							de la imagen
						*/
						@media (max-width: 991px) {
							width: 90px;
							height: 45px;
						}
						/*
							query 992px ==> : modificamos las diemensiones
							de la imagen
						*/
						@media (min-width: 992px) {
							width: 80px;
							height: 40px;
						}
					}
				}

				svg {
					cursor: pointer;

					/*
						query 992px ==> : removemos de la vista
						el icon burger menu
					*/
					@media (min-width: 992px) {
						display: none;
					}
				}
			}

			/*
				box_navbar: caja contenedora de toda la 
				extructura referente al menu de navegacion definimos
				flex-grow para que esta caja tome todo el espaciado
				generado por flexbox
			*/
			.box_navbar {
				flex-grow: 1;

				/*
					query 991px <== : definimos fixed y sus propeidades 
					top, left, right bottom y z-index para que esta caja
					ocupe el 100% del viewport y flexbox para ubicar en 
					la parte izquierda de la pantalla a nav
				*/
				@media (max-width: 991px) {
					position: fixed;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 9;
					display: flex;
					justify-content: flex-end;
					display: none;
					background-color: rgba(0, 0, 0, 0.4);

					/*
						clase añadida con javascript que permite
						visualizar el box_navbar que esta oculto 
					*/
					&.js_show_menu {
						display: flex;
					}
				}

				/*
					tag-nav: contenedor de box_close_menu y ul
				*/
				nav {
					/*
						query 991px <== : definimos un ancho a nav, altura
						de toda la pantalla y padding para separar el contenido
						de los bordes
					*/
					@media (max-width: 991px) {
						background-color: #fff;
						width: 280px;
						height: 100%;
						padding: 0 25px;
					}

					/*
						query 992px ==> : definimos padding para separar
						el menu de navegacion del logo
					*/
					@media (min-width: 992px) {
						padding-left: 40px;
					}

					/*
						box_close_menu: definimos flexbox y sus propiedades
						mas una altura para este contenedor que nos permite
						realizar un centrado horizontal y un espaciado 
						horizontal de los elementos
					*/
					.box_close_menu {
						display: flex;
						justify-content: space-between;
						height: 90px;
						align-items: center;

						/*
							query 992px ==> : ocultamos la caja
							box_close_menu
						*/
						@media (min-width: 992px) {
							display: none;
						}

						h3 {
							color: #333;
						}

						svg {
							cursor: pointer;
						}
					}

					/*
						ul_navbar: contiene toda la extructura referente al menu de
						navegacion
					*/
					.ul_navbar {
						/*
							query 992px ==> : definimos flexbox para
							poner los items del menu de navegacion en linea
						*/
						@media (min-width: 992px) {
							display: flex;
						}

						/*
							tag-li: definimos relative por que tenemos un
							ul_dorpdown que maneja position absolute
						*/
						li {
							position: relative;
							list-style: none;
							margin: 0;
							cursor: pointer;

							&:hover > a {
								color: #ff671b;
							}

							/*
								query 991px <== : para destacar el borde 
								para los items del menu de navegacion
							*/
							@media (max-width: 991px) {
								text-align: center;
								border: 2px solid #8c8c8c;
								margin-top: 10px;
								padding: 12px 10px;
							}

							/*
								query 992px ==> : definimos un margin para
								separar los items del menu de navegacion
							*/
							@media (min-width: 992px) {
								margin-left: 25px;
							}

							a {
								text-decoration: none;
								font-family: '@nunito-light', sans-serif;
								font-size: 15px;
								color: #333;

								@media (max-width: 991px) {
									font-size: 14px;
								}

								&.js_link_active {
									color: #ff671b;
								}

								&.js_link_active svg {
									fill: #ff671b;
								}
							}
						}

						/*
							li_dropdown: contiene todos los elementos del 
							menu de navegacion dropdown
						*/
						.li_dropdown {
							&:hover svg {
								fill: #ff671b;
							}

							/*
								clase añadida con javascript que muestra el
								menu de navegacion dropdown
							*/
							&.js_show_dropdown .ul_dropdown {
								display: block;
							}

							/*
								tag-a: definimos flexbox y su propeidad
								align-items para centrar el titulo y el
								icono del dropdown
							*/
							a {
								display: flex;
								align-items: center;

								/*
									query 991px <== : centramos todos los
									elementos que son contenidos por la tag-a
									que son el titulo y el icono del dropdown
								*/
								@media (max-width: 991px) {
									justify-content: center;
								}

								svg {
									fill: #333;
									margin-left: 5px;
								}
							}

							/*
								ul_dropdown: definimos display: none para remover el
								menu de navegacion dropdown de la vista, este se hace 
								visible con una clase añadida a li_dropdown
							*/
							.ul_dropdown {
								display: none;

								/*
									query 991px <== : definimos absolute y sus
									propieades top, left, right y z-index para sacar
									el menu de navegacion dropdown de la vista y darle
									posicion
								*/
								@media (max-width: 991px) {
									position: absolute;
									top: 50px;
									left: -2px;
									right: -2px;
									z-index: 5;
									background-color: #fff;
								}

								/*
									query 992px ==> : definimos fixed y sus
									propieades top y z-index para sacar el menu 
									de navegacion dropdown de la vista y darle
									posicion
								*/
								@media (min-width: 992px) {
									position: fixed;
									top: 105px;
									z-index: 5;
									background-color: #fff;
									box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
								}

								li {
									padding: 0;

									/*
										query 991px <== : removemos el borde definido
										anteriormente y modificamos el margin
									*/
									@media (max-width: 991px) {
										border: none;
										margin: 7px 0;
									}

									/*
										query 992px ==> : modificamos el margin y 
										realizamos un :hover en la tag-a que cambia 
										el background-color
									*/
									@media (min-width: 992px) {
										margin: 12px 0;

										&:hover a {
											background-color: #f0efef;
										}
									}

									a {
										padding: 8px 15px;
									}
								}
							}

							@media (min-width: 992px) {
								.js_scroll_dropdown {
									top: 85px;
									transition: 0.3s;
								}
							}
						}
					}
				}
			}
		}
	}
}
