// @import '../shared/fonts';

.section_banner_static {
	background-image: url(../../assets/svg/desarrollamos_shape-w.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;

	.container_banner_static {
		// padding: 0 10px;

		.content_points {
			color: #fff;
			font-size: 34px;
			line-height: 22px;
			letter-spacing: 3px;
		}

		.points_top {
			height: 140px;

			@media (max-width: 991px) {
				opacity: 0;
			}
		}

		.flexbox_banner_static {

			.box_banner_static {
				color: #fff;
				text-align: center;
				max-width: 1000px;
				padding: 0 15px;
				margin: 0 auto;

				h3 {
					font-size: 20px;
					font-family: '@nunito-light', sans-serif;
					letter-spacing: 10px;

					@media (max-width: 335px) {
						padding: 0 6px;
					}
				}

				h2 {
					font-family: '@sansation-bold', sans-serif;
					line-height: 1;
					margin: 15px 0 35px;

					@media (max-width: 575px) {
						font-size: 25px;
					}

					@media (min-width: 576px) {
						font-size: 60px;
					}

					@media (min-width: 768px) {
						font-size: 90px;
					}
				}

				p {
					font-size: 17px;
					font-family: '@nunito-regular', sans-serif;
					font-weight: 500;
					line-height: 1.6;
					max-width: 660px;
					margin: 0 auto;

					@media (max-width: 707px) {
						padding: 0 8px;
					}

					@media (max-width: 576px) {
						padding: 0 5px;
					}
				}

				a {
					text-decoration: none;
					display: inline-flex;
					width: 220px;
					justify-content: center;
					height: 54px;
					align-items: center;
					font-size: 14px;
					font-family: '@sansation-bold', sans-serif;
					letter-spacing: 0.3px;
					background-color: #fff;
					color: #2f425b;
					border-radius: 2px;
					margin-top: 70px;
					cursor: pointer;
					transition: all 0.3s;

					&:hover {
						background-color: #2f425b;
						color: #fff;
					}
				}
			}
		}

		.points_bottom {
			text-align: end;

			// @media (max-width: 767px) {
			// 	opacity: 0;
			// }
		}
	}
}
