/*
	content_column_three y content_column_four: estos contenedores
	comparten propiedades
*/
.content_column_three, .content_column_four {
	/*
		_@query 768px ==> : definimos un margen en la parte
		_superior de estos contenedores en esta medida
	*/
	@media (min-width: 768px) {
		margin-top: 20px;
	}

	/*
		_@query 992px ==> : removemos el margen de la parte
		_superior de estos contenedores en esta medida
	*/
	@media (min-width: 992px) {
		margin-top: 0;
	}
}

/*
	content_column_two, content_column_three y content_column_four: 
	la tah-h4 que esta dentro de estos contenedores comparten propiedades
*/
.content_column_two, .content_column_three, .content_column_four {
	/*
		tag-h4
	*/
	h4 {
		color: #ff671b;
		font-family: '@sansation-bold', sans-serif;
		font-size: 14px;
		letter-spacing: 0.5px;
	}
}

/*
	ul_accordion ul_column_two y ul_column_three: 
	estos elementos comparten propiedades
*/
.ul_accordion, .ul_column_two, .ul_column_three {
	/*
		tag-li
	*/
	li {
		list-style: none;
		margin-top: 5px;

		/*
			tag-a
		*/
		a {
			text-decoration: none;
			color: #313338;
			font-family: '@nunito-regular', sans-serif;
			font-size: 14px;
			line-height: 1.5;

			/*
				.cuando hacemos :hover sobre tag-a cambiamos su
				.color de fuente
			*/
			&:hover {
				color: #ff671b;
			}
		}
	}
}

/*
	section_footer
*/
.section_footer {
	background-color: #fff;

	/*
		container_footer: definimos la propiedad max-width: 100% para que
		sea el tamaño mínimo del contenedor, finalmente un margin: 0 auto
		para centrar el contenedor
	*/
	.container_footer {
		max-width: 100%;
		margin: 0 auto;
		padding: 0 15px;

		/*
			_@query 768px ==> : modificamos el max-width y agregamos 
			_un padding para generar espacio a partir de esta medida
		*/
		@media (min-width: 768px) {
			max-width: 720px;
		}

		/*
			_@query 992px ==> : modificamos el max-width a partir de 
			_esta medida
		*/
		@media (min-width: 992px) {
			max-width: 960px;
		}

		/*
			_@query 1200px ==> : modificamos el max-width a partir de 
			_esta medida
		*/
		@media (min-width: 1200px) {
			max-width: 1140px;
		}

		/*
			box_line: definimos padding para generar un espaciado
			en este contenedor
		*/
		.box_line {
			padding: 40px 0;

			/*
				_@query 767px <== : removemos del  viewport 
				_la caja box_line para esta medida
			*/
			@media (max-width: 767px) {
				display: none;
			}
		}

		/*
			content_accordion
		*/
		.content_accordion {
			/*
				_@query 767px <== : definimos padding para generar un 
				_espaciado en este contenedor
			*/
			@media (max-width: 767px) {
				padding: 0 15px;
			}

			/*
				_@query 768px ==> : removemos de la vista 
				_content_accordion para esta medida
			*/
			@media (min-width: 768px) {
				display: none;
			}

			/*
				box_accordion
			*/
			.box_accordion {
				/*
					_@query 767px <== : añadimos a box_accordion la
					_clase js_show_accordion para esta medida
				*/
				@media (max-width: 767px) {
					/*
						.js_show_accordion: clase añadida con javascript que 
						.que relaciona a la tag-h3 que esta dentro de 
						.accordion_header y le cambia el color de fuente
					*/
					&.js_show_accordion .accordion_header h3 {
						color: #ff671b;
					}

					/*
						.js_show_accordion: clase añadida con javascript que 
						.que relaciona a la tag-svg que esta dentro de 
						.accordion_header y le cambiar el color de fuente 
						.y agrega una rotación al icono
					*/
					&.js_show_accordion .accordion_header svg {
						fill: #ff671b;
						transform: rotate(180deg);
					}

					/*
						js_show_accordion: clase javascript que relaciona 
						a accordion_body para añadirle un 
					*/
					/*
						.js_show_accordion: clase añadida con javascript que 
						.que relaciona a accordion_body y un height: auto
						.junto con overflow: visible para hacer nuevamente 
						.visible el contenido de esta caja
					*/
					&.js_show_accordion .accordion_body {
						height: auto;
						overflow: visible;
					}
				}

				/*
					accordion_header: definimos flexbox y su propiedad
					justify-content que nos permite generar un espaciado
					entre los elementos que este contiene
				*/
				.accordion_header {
					display: flex;
					justify-content: space-between;
					border-bottom: 1px solid #77777a;
					padding: 5px 0;
					cursor: pointer;

					/*
						tag-h3
					*/ 
					h3 {
						color: #77777a;
						font-size: 21.4px;
						font-family: '@sansation-regular', sans-serif;
						line-height: 1.9;
					}

					/*
						tag-svg
					*/
					svg {
						fill: #77777a;
						width: 40px;
						height: 40px;
						transition: transform 0.3s ease;
					}
				}

				/*
					accordion_body: le definimos hight: 0 y un 
					overflow: hidden para ocultar esta parte del
					accordion 
				*/
				.accordion_body {
					height: 0;
					overflow: hidden;
					transition: height 0.3s ease;

					/*
						ul_accordion
					*/ 
					.ul_accordion {
						padding: 15px 0;

						/*
							li
						*/
						li {
							margin-top: 18px;

							/*
								.seleccionamos la primer tag-li y removemos el
								.margen-top definido anteriormente
							*/ 
							&:first-child {
								margin-top: 0;
							}

							/*
								tag-a
							*/ 
							a {
								font-size: 15px;
								font-family: '@sansation-regular', sans-serif;
							}
						}
					}

					/*
						tag-p
					*/
					p {
						padding: 15px 0;
						font-family: '@sansation-regular', sans-serif;
						font-size: 14px;
						line-height: 1.5;
					}
				}
			}
		}

		/*
			content_columns: definimos flexbox y sus
			propiedades flex-wrap y justify-content para 
			re posicionar los elementos si superan el tamaño 
			de su contenedor padre y generar un espaciado
			entre los elementos que este contiene
		*/
		.content_columns {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			/*
				_@query 767px <== : generamos un margen implementando 
				_auto para centrar este contenedor en esta medida
			*/
			@media (max-width: 767px) {
				.content_column_one {
					margin: 60px auto 40px;
				}
			}
			/*
				_@query 767px <== : definimos display: none para remover 
				_del viewport los siguientes contenedores en esta medida
			*/
			@media (max-width: 767px) {
				.content_column_two,
				.content_column_three,
				.content_column_four {
					display: none;
				}
			}

			/*
				content_column_one: definimos un ancho para este elemento
			*/
			.content_column_one {
				width: 200px;

				/*
					box_logo_footer
				*/
				.box_logo_footer {
					width: 160px;
					height: 81px;

					/*
						_@query 767px <== : modificamos el width y 
						_height de content_column_one y haciendo uso
						_de margin: 0 auto centramos este elemento
					*/
					@media (max-width: 767px) {
						width: 110px;
						height: 56px;
						margin: 0 auto;
					}

					/*
						tag-img: es importante definir la propiedad vertical-align
						para remover el espaciado que genera el navegador en las 
						imágenes, finalmente definimos un ancho y alto del 100% 
						para que esta se ajuste al tamaño de su contenedor padre
					*/
					img {
						vertical-align: top;
						width: 100%;
						height: 100%;
					}
				}

				/*
					box_socials_media
				*/
				.box_socials_media {
					margin-top: 70px;

					/*
						_@query 767px <== : implementamos 
						_text-align: center para centrar los 
						_elementos que pertenecen a box_socials_media
					*/
					@media (max-width: 767px) {
						text-align: center;
					}

					/*
						tag-h4
					*/
					h4 {
						color: #313338;
					}

					/*
						tag-a
					*/
					a {
						text-decoration: none;

						/*
							tag-svg
						*/
						svg {
							fill: #878787;
							width: 32px;
							height: 32px;

							/*
								.cuando hacemos :hover sobre la tag-svg,
								.cambiamos su color de fuente
							*/
							&:hover {
								fill: #ff671b;
							}

							/*
								_@query 768px ==> : definimos un margene para
								_tag-svg en esta medida
							*/
							@media (min-width: 768px) {
								margin: 5px 10px 0 -10px;
							}
						}
					}
				}
			}

			/*
				content_column_two: definimos un ancho para este elemento
			*/
			.content_column_two {
				width: 220px;
			}

			/*
				content_column_three: definimos un ancho para este elemento
			*/
			.content_column_three {
				width: 400px;

				/*
					box_info_three
				*/
				.box_info_three {
					/*
						.seleccionamos el segundo elemento con clase
						.box_info_three y definimos un margen en la
						.parte inferior
                    */
					&:nth-child(2) {
						margin-top: 20px;
					}
				}
			}

			/*
				content_column_four: definimos un ancho para este elemento
			*/
			.content_column_four {
				width: 220px;

				/*
					box_info_four
				*/ 
				.box_info_four {
					margin-bottom: 20px;

					/*
						tag-p
					*/ 
					p {
						font-family: '@nunito-regular', sans-serif;
						font-size: 14px;
						line-height: 1.4;
						padding-top: 3px;
					}
				}
			}
		}

		/*
			box_go_top: implementamos fixed y sus propiedades right, 
			y z-index para posicionar este elemento, luego hacemos
			uso de flexbox y sus propiedades justify-content y
			align-items para centrar de manera vertical y horizontal
			los elementos que este contiene, finalmente overflow: hidden 
			para ocultarlo
		*/
		.box_go_top {
			position: fixed;
			right: 20px;
			z-index: 99;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			cursor: pointer;
			transition: all 0.1s ease;

			/*
				_@query 767px <== : removemos de la vista este elemento
				_para esta medida
			*/
			@media (max-width: 767px) {
				display: none;
			}

			/*
				_@query 768px ==> : definimos width y height para darle tamaño 
				_a la caja y bottom para darle posición en esta medida
			*/
			@media (min-width: 768px) {
				width: 45px;
				height: 45px;
				bottom: 20px;

				/*
					.js_show_go_top: clase añadida con javascript que añade 
					.un color de fondo, un borde y hace visible el go-top
					.debido a que implementamos la propiedad overflow: visible
				*/
				&.js_show_go_top {
					background-color: #fff;
					border: 1px solid #8c8c8c;
					overflow: visible;

					/*
						.cuando hacemos :hover sobre box_go_top cambiamos
						.su color de fondo y removemos el borde
					*/ 
					&:hover {
						background-color: #ff671b;
						border: none;
					}

					/*
						.cuando hacemos :hover sobre box_go_top,
						.relacionamos a tag-svg para añadir color al icono
					*/
					&:hover svg {
						fill: #fff;
					}
				}

				/*
					.js_show_go_top: clase añadida con javascript que
					.relaciona a tag-svg y añade color al icono
				*/
				&.js_show_go_top svg {
					fill: #77777a;
				}
			}

			/*
				_@query 992px ==> : definimos width y height para darle tamaño 
				_a la caja y bottom para darle posición en esta medida
			*/
			@media (min-width: 992px) {
				width: 75px;
				height: 75px;
				bottom: 200px;
			}

			/*
				tag-svg: importante definir fill: transparent 
				para ocultar el icono
			*/
			svg {
				fill: transparent;
				width: 39px;
				height: 39px;
				transition: all 0.1s ease;
			}
		}

		/*
			box_copy_right
		*/
		.box_copy_right {
			text-align: center;
			color: #77777a;
			font-family: '@sansation-bold', sans-serif;
			font-size: 14px;
			padding: 60px 0 30px;

			/*
				_@query 768px ==> : definimos padding para generar 
				_espaciado en esta medida
			*/
			@media (max-width: 767px) {
				padding: 0 0 28px;
			}
		}
	}
}
