/*
	section_header: definimos un espaciado para separar esta sección
*/
.section_header {
	background-color: #fff;
	padding: 20px 0;

	@media (max-width: 991px) {
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	}

	/*
		_@query 992px ==> : modificamos el espaciado en esta 
		_medida
	*/
	@media (min-width: 992px) {
		padding: 31px 0;
	}
	
	/*
		.js_header_scroll: clase añadida con javascript, 
		.definimos position: fixed y sus propiedades top,
		.left, right para que ocupe el 100% de ancho referente
		.al viewport, finalmente añadimos una animación
	*/
	&.js_header_scroll {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 99;
		padding: 15px 0;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
		animation: headerScroll 1s forwards;
		
		/*
			_headerScroll: esta traslada el header -40px 
			_hacia arriba para finalmente devolverlo a su 
			_posición inicial
		*/ 
		@keyframes headerScroll {
			0% {
				transform: translateY(-40px);
			}
			100% {
				transform: translateY(0px);
			}
		}
	}

	/*
		container_header: le definimos un espaciado para separar
		los elementos que este contiene del borde del contenedor 
	*/
	.container_header {
		padding: 0 15px;
		
		/*
			_@query 1200px ==> : modificamos el espaciado en esta 
			_medida
		*/
		@media (min-width: 1200px) {
			padding: 0 40px;
		}

		/*
			header_flexbox
		*/
		.header_flexbox {
			/*
				_@query 992px ==> : definimos flexbox y su propiedad align-items 
				_para centrar de manera vertical el menu de navegación en 
				_referencia a la altura de la imagen
			*/
			@media (min-width: 992px) {
				display: flex;
				align-items: center;
			}

			/*
				content_logoNit_iconBurger: definimos flexbox y sus 
				propiedades justify-content y align-items para centrar 
				de manera horizontal y vertical el menu de navegación 
				en referencia a la altura de la imagen
			*/
			.content_logoNit_iconBurger {
				display: flex;
				justify-content: space-between;
				align-items: center;

				/*
					tag-a
				*/ 
				a {
					/*
						_query 992px ==> : definimos un padding-right para
						_separar este elemento del menu de navegación en 
						_esta medida
					*/
					@media (min-width: 992px) {
						padding-right: 14px;
					}

					/*
						_query 1200px ==> : definimos un padding-right para
						_separar este elemento del menu de navegación en 
						_esta medida
					*/
					@media (min-width: 1200px) {
						padding-right: 20px;
					}

					/*
						tag-img: definimos vertical-align: top para
						remover el espaciado que genera el navegador
						en las imágenes
					*/ 
					img {
						vertical-align: top;

						/*
							_query 991px <== : modificamos el width y height
							_de la imagen para esta medida
						*/
						@media (max-width: 991px) {
							width: 90px;
							height: 45px;
						}
						/*
							_query 992px ==> : modificamos el width y height
							_de la imagen para esta medida
						*/
						@media (min-width: 992px) {
							width: 80px;
							height: 40px;
						}
					}
				}

				/*
					tag-svg: (icon-burger)
				*/ 
				svg {
					fill: #ff671b;
					width: 33px;
					height: 33px;
					cursor: pointer;

					/*
						_@query 992px ==> : removemos de la vista
						_el icon burger
					*/
					@media (min-width: 992px) {
						display: none;
					}
				}
			}
				
			/*
				nav_header
			*/
			.nav_header {
				/*
					_@query 991px <== : definimos position: absolute y sus
					_propiedades top, right y z-index para posicionar este
					_elemento. también un ancho y muy importante una altura (vh),
					_finalmente display: none para remover el elemento de la vista
				*/
				@media (max-width: 991px) {
					background-color: #fff;
					position: absolute;
					top: 0;
					right: 0;
					z-index: 10;
					width: 280px;
					height: 100vh;
					padding: 0 25px;
					display: none;

					/*
						.js_show_nav: clase añadida con javascript,
						.definimos display: block que nos permite visualizar 
						.el menu de navegación nuevamente
					*/
					&.js_show_nav {
						display: block;
					}
				}

				/*
					content_titleMenu_iconClose: definimos flexbox y sus 
					propiedades justify-content y align-items mas un height 
					para separar los elementos que este contiene y centrarlos
					de manera vertical
				*/
				.content_titleMenu_iconClose {
					display: flex;
					justify-content: space-between;
					height: 85px;
					align-items: center;

					/*
						_@query 992px ==> : removemos de la vista
						_este elemento para esta medida
					*/
					@media (min-width: 992px) {
						display: none;
					}

					/*
						tag-h3
					*/
					h3 {
						color: #ff671b;
						font-family: "@sansation-bold", sans-serif;
					}

					/*
						tag-svg: (icon-X)
					*/
					svg {
						fill: #919191;
						width: 33px;
						height: 33px;
						cursor: pointer;
					}
				}

				/*
					ul_header
				*/
				.ul_header {
					/*
						_@query 992px ==> : definimos flexbox y sus propiedades 
						_justify-content y align-items para separar el contenido
						_y centrarlo de manera vertical
					*/
					@media (min-width: 992px) {
						display: flex;
						align-items: center;
						padding-left: 40px;
					}

					/*
						tag-li: le definimos position: relative por que tenemos
						a ul_dropdown definido con position: absolute
					*/
					li {
						list-style: none;
						position: relative;
						cursor: pointer;

						/*
							_@query 992px ==> : definimos un espaciado en la
							_parte izquierda de las tags-li 
						*/
						@media (min-width: 992px) {
							padding-left: 16px;

							/*
								.seleccionamos la primer tag-li y removemos el
								.espaciado
							*/
							&:first-child {
								padding-left: 0;
							}
						}

						/*
							_@query 1200px ==> : definimos un espaciado en la
							_parte izquierda de las tags-li 
						*/
						@media (min-width: 1200px) {
							padding-left: 35px;
						}

						/*
							.cuando hacemos :hover sobre la tag-li, 
							.relacionamos a la tag-a y modificamos
							.su color
						*/
						&:hover > a {
							color: #ff671b;
						}

						/*
							_@query 991px <== : centramos los elementos
							_añadimos un borde y generamos espaciado 
							_entre los items del menu de navegación para
							_esta medida
						*/
						@media (max-width: 991px) {
							text-align: center;
							border: 2px solid #8c8c8c;
							padding: 12px 10px;
							margin: 0 0 10px;
						}

						/*
							tag-a
						*/
						a {
							text-decoration: none;
							color: #313338;
							font-family: '@nunito-light', sans-serif;
							font-size: 14px;

							/*
								_@query 1200px ==> : cambiamos el tamaño
								_de la fuente para esta medida
							*/
							@media (min-width: 1200px) {
								font-size: 15px;
							}

							/*
								.js_link_active: clase añadida con javascript la
								.cual cambia el color de las tag-a
							*/
							&.js_link_active {
								color: #ff671b;
							}
						}
					}

					/*
						li_dropdown
					*/
					.li_dropdown {

						/*
							.cuando hacemos :hover sobre li_dropdown relacionamos
							.a tag.svg y cambiamos su color
						*/
						&:hover svg {
							fill: #ff671b;
						}

						/*
							.js_show_dropdown: clase añadida con javascript
							.que relaciona a ul_dropdown y le define un
							.display: block el cual permite hacer visible
							.el menu dropdown
						*/
						&.js_show_dropdown .ul_dropdown {
							display: block;
						}

						/*
							.js_show_dropdown: clase añadida con javascript
							.que relaciona a tag-svg y añade una rotación
							.de 180deg para este icono
						*/
						&.js_show_dropdown svg {
							transform: rotate(180deg);
						}

						/*
							tag-a: definimos flexbox y su propiedad align-items para 
							centrar los elementos que este contiene de manera vertical 
						*/
						a {
							display: flex;
							align-items: center;

							/*
								_query 991px <== : definimos la propiedad 
								_justify-content para centrar los elementos
								_de manera horizontal para esta medida
							*/
							@media (max-width: 991px) {
								justify-content: center;
							}

							/*
								.js_link_active: clase añadida con javascript que
								.relaciona a la tag-svg y le cambia el color al icono
							*/
							&.js_link_active > svg {
								fill: #ff671b;
							}

							/*
								tag-svg: (icono-dropdown)
							*/
							svg {
								fill: #333;
								width: 12px;
								height: 12px;
								margin-left: 5px;
								transition: transform .3s;
							}
						}

						/*
							ul_dropdown: definimos display: none para remover el
							menu de navegación dropdown de la vista, este se hace 
							visible cuando li_dropdown tiene la clase js_show_dropdown,
							finalmente position: absolute con sus propiedades top
							y z-index para darle posición a este elemento
						*/
						.ul_dropdown {
							display: none;
							position: absolute;
							top: 55px;
							z-index: 5;
							background-color: #fff;

							/*
								_@query 991px <== : definimos las propiedades left
								_y right para que ul_dropdown ocupe todo el ancho
								_en esta medida
							*/
							@media (max-width: 991px) {	
								left: -2px;
								right: -2px;
							}

							/*
								_query 992px ==> : definimos un ancho para ul_dropdown
								_en esta medida
							*/
							@media (min-width: 992px) {								
								width: 225px;

								/*
									.js_dropdown_scroll: clase añadida con javascript que
									.modifica la propiedad top para esta medida
								*/
								&.js_dropdown_scroll {
									top: 41px;
								}
							}

							/*
								_query 1200px ==> : definimos un ancho para ul_dropdown
								_en esta medida
							*/
							@media (min-width: 1200px) {								
								width: 240px;
							}

							/*
								tag-li: esta pertenece a ul_dropdown, removemos 
								el padding definido anteriormente en la tag-li 
								que pertenece a ul_navbar y modificamos el margin
							*/
							li {
								padding: 0;
								margin-bottom: 7px;

								/*
									_query 991px <== : removemos el borde definido
									_anteriormente en la tag-li que pertenece a 
									_ul_navbar
								*/
								@media (max-width: 991px) {
									border: none;
								}

								/*
									_query 992px ==> : modificamos el margin
									_para esta medida
								*/
								@media (min-width: 992px) {
									margin: 12px 0;

									/*  
										.cuando hacemos :hover en la tag-li
										.de ul_dropdown relacionamos a su tag-a
										.y cambiamos su color de fondo
									*/
									&:hover a {
										background-color: #f0efef;
									}
								}

								/*
									tag-a: esta pertenece a la tag-li que esta
									dentro de ul_dropdown
								*/
								a {
									padding: 5px 15px;

									/*
										_@query 992px ==> : modificamos el padding para 
										_la siguiente medida
									*/
									@media (min-width: 992px) {
										padding: 6px 15px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
