/*
  section_name: definimos un espaciado para este elemento
*/
.section_tabs {
	padding-bottom: 50px;
	
	/*
		_@query 768px ==> : modificamos el espaciado de 
		_este elemento en esta medida
	*/
	@media (min-width: 1200px) {
		padding: 50px 0;
	}

	/*
        container_tabs: definimos un max-width para que sea
		el ancho mínimo de este contenedor, finalmente un margin: 0 auto
		para centrarlo de manera horizontal
    */
	.container_tabs {
		max-width: 100%;
		margin: 0 auto;

		/*
			_@query 768px ==> : modificamos el max-width y definimos un padding 
			_para este elemento en esta medida
		*/
		@media (min-width: 768px) {
			max-width: 720px;
			padding: 0 15px;
		}

		/*
			_@query 992px ==> : modificamos el max-width de este elemento en esta medida
		*/
		@media (min-width: 992px) {
			max-width: 960px;
		}

		/*
			_@query 1200px ==> : modificamos el max-width de este elemento en esta medida
		*/
		@media (min-width: 1200px) {
			max-width: 1140px;
		}

		/*
			.tag-h2
		*/ 
		h2 {
			color: #313338;
			font-family: '@sansation-bold', sans-serif;
			line-height: 1.2;
			margin-bottom: 15px;

			/*
				_@query 767px <== : definimos un espaciado en
				_la parte izquierda para este elemento en esta medida
			*/
			@media (max-width: 767px) {
				padding-left: 15px;
			}

			/*
				_@query 479px <== : definimos un tamaño de fuente
				_para este elemento en esta medida
			*/
			@media (max-width: 479px) {
				font-size: 26px;
			}

			/*
				_@query 480px ==> : definimos un tamaño de fuente
				_para este elemento en esta medida
			*/
			@media (min-width: 480px) {
				font-size: 30px;
			}

			/*
				_@query 768px ==> : definimos un tamaño de fuente
				_y agregamos un margen en la parte inferior para 
				_este elemento en esta medida
			*/
			@media (min-width: 768px) {
				font-size: 40px;
				margin-bottom: 50px;
				line-height: 1;
			}

			/*
				_@query 1200px ==> : definimos un tamaño de fuente
				_para este elemento en esta medida
			*/
			@media (min-width: 1200px) {
				font-size: 50px;
			}
		}

		/*
            flexbox_name
        */
		.flexbox_tabs {
			/*
				_@query 768px ==> : definimos flexbox y su 
				_propiedad space-between para generar un espaciado
				_entre los elementos que este contiene
			*/
			@media (min-width: 768px) {
				display: flex;
				justify-content: space-between;
			}

			/*
                tab_header
            */
			.tab_header {
				/*
					_@query 768px ==> : definimos un width: 55% para
					_que este contenedor ocupe ese espacio dentro de 
					_su contenedor padre
				*/
				@media (min-width: 768px) {
					width: 55%;
					// box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
				}

				/*
					_@query 992px ==> : modificamos el width: 55% de 
					_este contenedor para esta medida
				*/
				@media (min-width: 992px) {
					width: 42%;
				}

				/*
					_@query 992px ==> : modificamos el width: 55% de 
					_este contenedor para esta medida
				*/
				@media (min-width: 1200px) {
					width: 46%;
				}

				/*
					seleccionamos el primer hijo de tab_content_header
					y añadimos un borde en la parte superior de este
				*/
				.tab_content_header:first-child {
					border-top: 1px solid #8c8c8c;
				}

				/*
                    tab_content_header: definimos position: relative debido
					a que uno de sus elementos hijo tiene definido 
					position: absolute, finalmente definimos flexbox y su
					propiedad align-items para centrar de manera vertical los 
					elementos que este contiene
                */
				.tab_content_header {
					position: relative;
					display: flex;
					align-items: center;
					border-bottom: 1px solid #8c8c8c;
					padding: 15px 15px 25px;
					cursor: pointer;

					/*
						_@query 768px ==> : definimos la propiedad justify-content 
						_para generar un espaciado entre los elementos en esta medida
					*/
					@media (min-width: 768px) {
						justify-content: space-between;
						padding: 16px 10px 16px 30px;
					}

					/*
						tag-img: es importante definir la propiedad vertical-align
						para remover el espaciado que genera el navegador en las 
						imágenes justo con object-fit: cover para que esta se ajuste
						al tamaño de su contenedor
					*/
					img {
						vertical-align: top;
						object-fit: cover;

						/*
							_@query 767px <== : definimos un ancho y alto para 
							_este elemento en esta medida
						*/
						@media (max-width: 767px) {
							width: 25%;
							height: 86px;
						}

						/*
							_@query 768px ==> : definimos un ancho y alto para 
							_este elemento en esta medida
						*/
						@media (min-width: 768px) {
							width: 38%;
							height: 86px;
						}

						/*
							_@query 1200px ==> : definimos un alto para este
							_elemento en esta medida
						*/
						@media (min-width: 1200px) {
							height: 136px;
						}
					}

					/*
						tab_info
					*/
					.tab_info {
						/*
							_@query 767px <== : definimos flex-grow: 1 para que
							_este elemento tome todo el espaciado generado por
							_flexbox, finalmente un ancho para este elemento en
							_esta medida
						*/
						@media (max-width: 767px) {
							flex-grow: 1;
							width: 70%;
							padding-left: 30px;
						}

						/*
							_@query 768px ==> : definimos un ancho para este elemento
							_en esta medida
						*/
						@media (min-width: 768px) {
							width: 56%;
						}

						/*
							tag-h4
						*/ 
						h4 {
							color: #313338;
							font-size: 16px;
							font-family: '@sansation-bold', sans-serif;
						}

						/*
							tag-p
						*/ 
						p {
							color: #313338;
							font-family: '@nunito-regular', sans-serif;
							margin: 10px 0;
						}
					}
				}

				/*
					.js_header_active: clase añadida con javascript que
					.implementa la pseudo clase ::before con la que 
					.vamos a crear un borde en la parte izquierda de 
					.este contenedor haciendo uso de la propiedad
					.position: absolute, recordemos que es display: block 
					.junto con background-color quienes nos permiten 
					.visualizar el borde
				*/
				.js_header_active::before {
					content: '';
					position: absolute;
					display: block;
					background-color: #ff9a7e;

					/*
						_@query 768px ==> : definimos las propiedades left,
						_right y bottom junto con un alto para posicionar 
						_el borde en la parte izquierda del contenedor y
						_darle visibilidad
					*/
					@media (max-width: 767px) {
						left: 0;
						right: 0;
						bottom: 0;
						height: 10px;
					}

					/*
						_@query 768px ==> : definimos las propiedades left,
						_right y bottom junto con un ancho para posicionar 
						_el borde en la parte izquierda del contenedor y
						_darle visibilidad
					*/
					@media (min-width: 768px) {
						top: 0;
						left: 0;
						bottom: 0;
						width: 16px;
					}
				}

				/*
					tab_content_img
				*/
				.tab_content_img {
					/*
						_@query 767px <== : definimos un margen para 
						_separar los elementos
					*/
					@media (max-width: 767px) {
						border-bottom: 1px solid #ccc;
						padding-bottom: 25px;
					}

					/*
						_@query 768px ==> : removemos este contenedor del
						_viewport en esta medida
					*/
					@media (min-width: 768px) {
						display: none;
					}

					/*
						tag-img: es importante definir la propiedad vertical-align
						para remover el espaciado que genera el navegador en las 
						imágenes justo con object-fit: cover para que esta se ajuste
						al tamaño de su contenedor
					*/
					img {
						vertical-align: top;
						width: 100%;
						object-fit: cover;

						/*
							_@query 767px <== : definimos un alto para este
							_elemento en esta medida
						*/
						@media (max-width: 767px) {
							height: 250px;
						}

						/*
							_@query 480px <== : definimos un alto para este
							_elemento en esta medida
						*/
						@media (max-width: 480px) {
							height: 150px;
						}
					}

					/*
						box_hashtags
					*/ 
					.box_hashtags {
						margin: 13px 0;
						padding: 0 15px;

						/*
							tag-a
						*/ 
						a {
							color: #ff671b;
							font-size: 14px;
							font-family: '@nunito-regular', sans-serif;
							margin-right: 5px;
						}
					}

					/*
						tag-p
					*/
					p {
						color: #949494;
						font-size: 12px;
						font-family: '@sansation-bold', sans-serif;
						line-height: 1.2;
						margin-bottom: 13px;
						padding: 0 15px;
					}

					/*
						box_btn_tabs
					*/ 
					.box_btn_tabs {
						padding: 0 15px;

						/*
							tag-a
						*/ 
						a {
							text-decoration: none;
							color: #313338;
							font-family: '@sansation-bold', sans-serif;
							font-size: 26px;
							line-height: 1;
							transition: color 0.3s;

							/*
								.cuando hacemos :hover sobre tag-a cambiamos
								.su color de fuente
							*/ 
							&:hover {
								color: #0c9ef3;
							}
						}
					}
				}

				/*
					js_img_hidden
				*/
				.js_img_hidden {
					/*
						_@query 767px <== : clase añadida con javascript que
						_nos permite ocultar a tab_content_img en esta medida
					*/
					@media (max-width: 767px) {
						display: none;
					}
				}
			}

			/*
                tab_body
            */
			.tab_body {
				/*
					_@query 767px <== : removemos este contenedor del
					_viewport para esta medida
				*/
				@media (max-width: 767px) {
					display: none;
				}

				/*
					_@query 768px ==> : definimos un ancho para este elemento
					_en esta medida
				*/
				@media (min-width: 768px) {
					width: 42%;
				}

				/*
					_@query 992px ==> : definimos un ancho para este elemento
					_en esta medida
				*/
				@media (min-width: 992px) {
					width: 55%;
				}

				/*
					_@query 1200px ==> : definimos un ancho para este elemento
					_en esta medida
				*/
				@media (min-width: 1200px) {
					width: 49%;
				}

				/*
					tab_content_body
				*/
				.tab_content_body {
					/*
						@query 768px ==> : es importante definir un heigh: 100%
						para que tome el alto total de su contenedor padre
					*/
					@media (min-width: 768px) {
						height: 100%;
					}

					/*
						tag-img: es importante definir la propiedad vertical-align
						para remover el espaciado que genera el navegador en las 
						imágenes justo con object-fit: cover para que esta se ajuste
						al tamaño de su contenedor
					*/
					img {
						vertical-align: top;
						width: 100%;
						object-fit: cover;

						/*
							_@query 768px ==> : definimos una altura para este
							_elemento en esta medida
						*/
						@media (min-width: 768px) {
							height: 63%;
						}

						/*
							_@query 992px ==> : definimos una altura para este
							_elemento en esta medida
						*/
						@media (min-width: 992px) {
							height: 74%;
						}

						/*
							_@query 1200px ==> : definimos una altura para este
							_elemento en esta medida
						*/
						@media (min-width: 1200px) {
							height: 70%;
						}
					}

					/*
						box_hashtags
					*/ 
					.box_hashtags {
						margin: 13px 0;

						/*
							tag-a
						*/ 
						a {
							color: #ff671b;
							font-size: 14px;
							font-family: '@nunito-regular', sans-serif;
							margin-right: 5px;
						}
					}

					/*
						tag-p
					*/ 
					p {
						color: #949494;
						font-size: 12px;
						font-family: '@sansation-bold', sans-serif;
						line-height: 1.2;
						margin-bottom: 13px;
					}

					/*
						box_btn_tabs
					*/ 
					.box_btn_tabs {
						/*
							tag-a
						*/ 
						a {
							text-decoration: none;
							color: #313338;
							font-family: '@sansation-bold', sans-serif;
							font-size: 33px;
							line-height: 1;
							transition: color 0.3s;

							/*
								.cuando hacemos :hover sobre tag-a cambiamos
								.su color de fuente
							*/ 
							&:hover {
								color: #0c9ef3;
							}
						}
					}
				}

				/*
					js_body_hidden
				*/
				.js_body_hidden {
					/*
						_@query 768px ==> : clase añadida con javascript que
						_nos permite ocultar el contenedor tab_content_body
					*/
					@media (min-width: 768px) {
						display: none;
					}
				}
			}
		}
	}
}
